<div>
  <h3>Image-slider!</h3>
</div>

<div id="container">
  <mat-card class="mat-card">
    <mat-card-header>
      <span (click)="prev()" class="prev" [matTooltipPosition]="toolTipPosition" matTooltip="Previous Image">
        <button mat-icon-button>
          <i class="material-icons">
            keyboard_arrow_left
          </i>
        </button>
      </span>
      <span (click)="next()" class="next" [matTooltipPosition]="toolTipPosition" matTooltip="Next Image">
        <button mat-icon-button>
          <i class="material-icons">navigate_next</i>
        </button>
      </span>
    </mat-card-header>
    <div class="imgdiv pointer" (click)="onImageClick(slideImages[0])">
      <img class="img-area" [src]="slideImages[0]" />
    </div>
  </mat-card>
</div>